.body {
  width: 100vw;
  height: 500px;
  background-color: rgb(240, 222, 222);
}
.drop input {
  color: white;
  background-color: rgb(104, 104, 228);
  margin-top: 40px;
  margin-left: 450px;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid rgb(104, 104, 228);
}

.char img {
  margin: 20px;
}
